@import url('./__header/results__header.css');
@import url('./__array/results__array.css');
@import url('./__button/results__button.css');

.results {
    margin: 0 auto;
    padding-top: 48px;
    max-width: 1440px;
    text-align: center;
    background-color: #F5F6F7;
}