@import url('./_white/results_white.css');
@import url('./__preheader/results__preheader.css');
@import url('./__keywords/results__keywords.css');
@import url('./__header/results__header.css');
@import url('./__array/results__array.css');
@import url('./__button/results__button.css');
@import url('./__hidden-header/results__hidden-header.css');

.results {
    display: none;
    padding-top: 46px;
    max-width: 1440px;
    text-align: left;
    padding-bottom: 62px;
    background-color: #F5F6F7;
}

@media screen and (max-width: 1023px) {
    .results {
      max-width: 1023px;
      padding-top: 30px;
      padding-bottom: 40px;
    }
  }

  @media screen and (max-width: 767px) {
    .results {
      max-width: 767px;
      padding-top: 18px;
      padding-bottom: 25px;
    }
  }