@import url('./_white/header__link_active_white.css');
@import url('./_black/header__link_active_black.css');

.header__link.header__link_active {
    padding-bottom: 23px;
}

@media screen and (max-width: 1023px) {
    .header__link.header__link_active {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    .header__link.header__link_active {
        padding: 0;
    }
}