.search__header {
    max-width: 350px;
    margin-top: 11.1%;
    font-family: 'Roboto Slab', 'Georgia', serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #ffffff;
    margin-left: -270px;
}

@media screen and (max-width: 1023px) {
    .search__header {
        font-size: 36px;
        line-height: 40px;
        margin-top: 104px;
        margin-left: -80px;
    }
}

@media screen and (max-width: 767px) {
    .search__header {
        margin-left: 90px;
    }
}

@media screen and (max-width: 360px) {
    .search__header {
        max-width: 285px;
        font-size: 36px;
        line-height: 40px;
        margin-top: 97px;
        margin-left: 20px;
    }
}