.search__header {
    max-width: 350px;
    margin-right: 257px;
    margin-top: 11.1%;
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #ffffff;
}

@media screen and (max-width: 1023px) {
    .search__header {
        font-size: 36px;
        line-height: 40px;
        margin-top: 104px;
        margin-left: 164px;
    }
}
