.search__button {
  position: absolute;
  top: -1px;
  right: -2px;
  border: none;
  height: 64px;
  width: 168px;
}

@media screen and (max-width: 1023px) {
  .search__button {
    width: 160px;
    height: 56px;
    top: -1px;
  }
}
