@import url('./_white/auth-button_white.css');
@import url('./_black/auth-button_black.css');
@import url('./_logged-in/auth-button_logged-in.css');

.auth-button {
    background-color: transparent;
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px; 
    padding: 13px 17px 13px 17px;
    border-radius: 30px;
    position: relative;
}

.auth-button:hover {
    cursor: pointer;
}

.auth-button:focus {
    outline: none;
}

@media screen and (max-width: 1023px) {
    .auth-button {
        padding: 6px 12px 6px 12px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 767px) {
    .auth-button {
        max-width: 288px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 12px 24px 12px 24px;
        font-size: 18px;
        line-height: 24px;
    }
}