@import url('./__link/card__link.css');
@import url('./__image/card__image.css');
@import url('./__date/card__date.css');
@import url('./__header/card__header.css');
@import url('./__paragraph/card__paragraph.css');
@import url('./__source/card__source.css');
@import url('./__text-data/card__text-data.css');
@import url('./__save-flag/card__save-flag.css');
@import url('./__delete-card/card__delete-card.css');
@import url('./__keyword/card__keyword.css');

.card {
    position: relative;
    height: 576px;
    background-color: #FFFFFF;
    border-radius: 15px;
    text-align: left;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 58px -5px rgba(8,29,45,0.1);
    transition: box-shadow 0.3s ease-out;
}

@media screen and (max-width: 1023px) {
    .card {
        height: 420px;
    }
  }