.footer__elements {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 85.46%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .footer__elements {
        margin-top: 0px;
        max-width: 92.78%;
    }
  }

  @media screen and (max-width: 767px) {
    .footer__elements {
        flex-direction: column-reverse;
        max-width: 100%;
    }
  }