.search__bar {
  border: none;
  margin: 0;
  margin-left: 19px;
  outline: none;
  -webkit-appearance: none;
  height: 30px;
  vertical-align: top;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 0 8px 0 0;
  width: 75%;
}