.search__bar {
  border: none;
  margin: 0;
  margin-left: 19px;
  outline: none;
  -webkit-appearance: none;
  height: 30px;
  vertical-align: top;
  background-color: #ffffff;
  color: #B6BCBF;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 0 8px 0 0;
  width: 75%;
}

.search__bar:focus {
  color: #1A1B22;
  
}

.search__bar:enabled {
  color: #1A1B22;
}

@media screen and (max-width: 767px) {
  .search__bar {
    width: 80%;
  }
}
