.results__array {
    max-width: 85.56%;
    margin: 0 auto;
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    column-gap: 16px;
    row-gap: 16px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
