.results__array {
    max-width: 85.56%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    column-gap: 16px;
    row-gap: 16px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .results__array {
        margin-top: 5px;
        max-width: 91.62%;
        grid-template-columns: repeat(auto-fill, 224px);
        column-gap: 8px;
        row-gap: 8px;
    }
  }

  @media screen and (max-width: 767px) {
    .results__array {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 288px);
        column-gap: 16px;
        row-gap: 10px;
        margin: 0 auto;
        margin-top: 7px;
    }
  }