@import url('./_active/header__list-element_active.css');

.header__list-element {
    display: inline;
    margin-right: 29px;
    font-family: 'Roboto';
    font-weight: normal;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
}

.header__list-element:last-child {
    margin-right: 104px;
}